# Dependencias
node_modules/

# Builds
dist/
build/
*.tsbuildinfo

# Variables de entorno
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*
pnpm-debug.log*

# Editor / SO
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db
